<!-- Codes by HTML.am -->

<!-- CSS Code -->
<!-- <style type="text/css" scoped>
  .GeneratedText {
    font-family: Baskerville, serif;
    font-size: 1em;
    letter-spacing: 0.2em;
    padding: 1em;
  }

  .labelText {
    font-family: Baskerville, serif;
    font-size: 1em;
    padding: 1.5em;
    text-align: right;
  }

</style> -->

<!-- HTML Code -->
<mat-card>
  <h3>
    Benefits Breakdown for Employee:
  </h3>
  <div>
    <label>Pay Period Frequency:</label> {{benefitsBreakdown.payPeriodFrequency}}
    <mat-card>
      <label>Yearly Salary:</label> {{benefitsBreakdown.salaryPerYear | currency:'USD' }}
      <br />
      <label>Yearly Benefits Cost:</label> {{benefitsBreakdown.benefitsCostPerYear | currency:'USD' }}
    </mat-card>
    <br />
    <mat-card>
      <label>Salary By Pay Period:</label> {{benefitsBreakdown.salaryPerPayPeriod | currency:'USD' }}
      <br />
      <label>Benefits Cost By Pay Period:</label> {{benefitsBreakdown.benefitsCostPerPayPeriod | currency:'USD' }}
    </mat-card>
    <br />
  </div>
</mat-card>
