<mat-card>
  <h2>Current Employees</h2>
  <button (click)="toggle()">
    {{filterButtonText}}
  </button>
  <br />
  <br />
  <input *ngIf="show" [hidden]="!paginator?.length > 0" placeholder="Begin typing to filter list" matInput #input
    class="form-control" type="text" (keyup)="applyFilter($event.target.value)" />
  <mat-table #table [dataSource]="dataSource" matSort [hidden]="paginator.length == 0">
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> EMPLOYEE ID </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.employeeId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> EMPLOYEE NAME </mat-header-cell>
      <mat-cell *matCellDef="let employee"> {{employee.employeeName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let employee"><button routerLink="/EmployeeDetail/{{employee?.employeeId}}">Edit</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let employee"><button (click)="deleteEmployee(employee?.employeeId)">Delete</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="benefitsBreakdown">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let employee"><button routerLink="/BenefitsBreakdown/{{employee?.employeeId}}">View Benefit
          Breakdown</button></mat-cell>
    </ng-container>
  </mat-table>
  <div [hidden]="paginator?.length > 0">
    <tr>
      No results found
    </tr>
  </div>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>
</mat-card>
